.arrow-section {
  position: relative;
  background-color: #e5e7eb; /* 原本 bg-light-gray */
  color: #333;
  clip-path: polygon(
    0 0,
    /* 左上 */ 90% 0,
    /* 右上前段 */ 95% 50%,
    /* 第一個箭頭尖端 */ 90% 100%,
    /* 右下前段 */ 0 100% /* 左下 */
  );
}
