body {
  overflow-x: hidden;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body.modal-open {
  overflow-x: auto; /* 或 initial 或 unset，讓 Bootstrap 管 */
}
